{% extends 'layout.html' %}

{% block body %}
<h1 class="mt-4 text-center">About Us</h1>
<p> When in doubt planning can be very crucial in the work place but also on a daily basis whether you are shopping, or simply want a reminder.</p>

<main id="about">
        <h1 class="lg-heading">
        <span class="text-primary">Founder</span>
        </h1>
        <section class="flex-container">
            <div class="flex-portrait">
                <img class="portrait-1" src="/static/img/portrait.jpg" alt="Davian Perez-Silva">
            </div>
            <div class="flex-bio">
                <h3 class="bio-title"> BIO</h3>
                <p class="bio"> I am a developer-in-training at Thaddeus Stevens College of Technology.
                    I love building things from front-end to back-end. I am most attracted to solving
                    real customer problems in the UI but also enjoys the obstacles the server side of
                    software brings to me. I am still trying to find myself in this field. What keeps me going
                    are these core values I truly cherish whether is in the field or life in general.
                </p>
            </div>
        </section>
        <section class="flex-container">
                <h2 class="sm-heading">
                    What It Takes
                    </h2>
            <div class="container-1">
                <h3 class="Core-title">
                    Disciplined
                </h3>
                <p>Being disciplined is one of the most important core values you could attain,
                    showing control of your behavior when being told what to do and how to do it is very
                    important. To simply have a routine and go by it can be crucial as well. Staying on top
                    of work when you feel things are going downhill or even when you are having a bad day
                    will set you apart from others not just in the work place but within your own personal life.
                </p>
            </div>

            <div class="container-2">
                <h3 class="Core-title">
                    Perseverance
                </h3>
                <p>Ever since I was a little boy I played sports. I think playing team sports builds character
                    but also gives you an insight to probem solving skills at an early age.
                </p>
            </div>

            <div class="container-3">
                <h3 class="Core-title">
                    Humility
                </h3>
                <p> Being humble is a beautiful trait to have. Remember where you came from and those who helped
                    you get to where you are. You yourself are unique, but you come from elsewhere, not
                    from yourself. While in the work place, this is an important trait due to the fact
                    that you will do great things but failure is also part of life. It's better to be humble
                    at all times or failure will humble you in a heart beat.

                </p>
            </div>
        </section>
    </main>

    <footer id="main-footer">
        Copyright &copy; 2018
    </footer>

{% endblock %}