{% extends 'layout.html' %}

{% block header %}
<h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}
  {% from "includes/_formhelpers.html" import render_field %}
  {% block content %}
  <form class="form-groups" method="POST" action="">
    <div class="form">
      {{render_field(form.name, class_="form-control")}}
    </div>
    <div class="form">
      {{render_field(form.email, class_="form-control")}}
    </div>
    <div class="form">
      {{render_field(form.username, class_="form-control")}}
    </div>
    <div class="form">
      {{render_field(form.password, class_="form-control")}}
    </div>
    <div class="form">
      {{render_field(form.confirm, class_="form-control")}}
    </div>
    <p><input type="submit" class="btn btn-primary" value="Submit"></p>
  </form>
{% endblock %}